
  <div class="pt-4 pl-5 mb-3">
  <div class="row">
    <div class="col col-sm-12 pr-5">
      <div class="card bg-light mb-3 shadow">
        <div class="card-header">
          <strong>{{ title }}</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="actionCreateForm" autocomplete="off" novalidate>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <div class="col-md-8">
                    <label>Client ID One <span class="required">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="clientIdOne"
                      type="text"
                      placeholder="Client ID One (required)"
                      formControlName="clientIdOne"
                      [ngClass]="{
                        'is-invalid':
                          (actionCreateForm.get('clientIdOne').touched ||
                          actionCreateForm.get('clientIdOne').dirty) &&
                          !actionCreateForm.get('clientIdOne').valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="actionCreateForm.get('clientIdOne').errors?.required">
                        Please enter client id one.
                      </span>
                      <span *ngIf="actionCreateForm.get('clientIdOne').errors?.minlength">
                        client id one value should be 4 digits long.
                      </span>
                      <span *ngIf="actionCreateForm.get('clientIdOne').errors?.pattern">
                        client id one value should be numeric.
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <div class="col-md-8">
                    <label>Client ID Two <span class="required">*</span></label>
                    <input
                      type="text"
                      class="form-control"
                      id="clientIdTwo"
                      type="text"
                      placeholder="Client ID Two (required)"
                      formControlName="clientIdTwo"
                      [ngClass]="{
                        'is-invalid':
                          (actionCreateForm.get('clientIdTwo').touched ||
                          actionCreateForm.get('clientIdTwo').dirty) &&
                          !actionCreateForm.get('clientIdTwo').valid
                      }"
                    />
                    <span class="invalid-feedback">
                      <span *ngIf="actionCreateForm.get('clientIdTwo').errors?.required">
                        Please enter clientid two value.
                      </span>
                      <span *ngIf="actionCreateForm.get('clientIdTwo').errors?.pattern">
                        client id two value should be numeric.
                      </span>
                      <div class="alert alert-danger" *ngIf="actionCreateForm.get('clientIdTwo').errors?.MatchValue">
                        Clientidtwo value should be >= clientidone.
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div><hr>

            <div>
              <span><strong>Dynamically set validation based on checkbox value</strong></span><hr>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>PullFlag</label>
                    <input type="checkbox" id="pullFlag" class="form-control" 
                    formControlName="pullFlag" #pullFlagCheckBox [checked]="isPullFlag" (change)="checkPullFlag(pullFlagCheckBox.checked)">
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>PullFlag <span  *ngIf="isTransactionsFlag" class="required">*</span></label>
                    <select class="form-control" formControlName="transactions">
                      <option value="">Select Transactions</option>
                      <ng-container *ngFor="let item of transactionsObj">
                        <option [value]="item">{{item}}</option>
                      </ng-container>
                    </select>
                    <span class="invalid-feedback">
                      <span *ngIf="actionCreateForm.get('transactions').errors?.required">
                        Please enter clientid two value.
                      </span>
                    </span>
                    
                  </div>
                </div>
              </div>
            </div>
            

            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary float-left" type="reset" (click)="resetForm()">
                  CLEAR
                </button>
              </div>
              <div class="col-6">
                <button class="btn btn-primary float-right" type="submit" [disabled]="!actionCreateForm.valid" (click)="submitForm()">
                  SUBMIT
              </button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

